body{
    background-color: rgb(102, 110, 121);
}
.container{
    width: 50%;
    display: flexbox;
    align-items: center;
    color: white;
}
h1{
    color: white;
}
.tab{
    width: 50%;
    display: inline-flex;
    justify-content: space-between;
}